@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Content>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using ClientDependency.Core.Mvc;
@{
	Layout = null;
    Html.RequiresCss("~/css/test.css");
}
<head>
    @Html.RenderCssHere();
</head>
<body>
    .
</body>